---
users:
  demo-user:
    disabled: false
    displayname: Demo User
    password: 'REPLACE_WITH_AUTHELIA_ARGON2_HASH'
    email: 'demo-user@example.com'
    groups:
      - shadow-users
      - shadow-admins
      - health-users
